<!-- <p>profile works!</p>
<img src="https://avatars.githubusercontent.com/u/56058545?v=4" alt=""> -->

<div class="card">
    <img class="card-img-top" src='{{profileLink}}' alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title-user"><p id="user">{{username}} </p></h3>
      <h5 class="card-title">Date Started: </h5><h6><p id="date">{{dateStarted}}</p></h6>
      <h5 class="card-title">City: <p id="city">{{city}}</p></h5>
      <h5 class="card-title">Ranking: <p id="rank">#{{rank}}</p></h5>
    </div>
    <div class="badge-list">
      <div *ngFor="let badge of badges; index as i">
        <img *ngIf="badge.obtained" src="{{'/assets/badges/' + i + '.png'}}" alt="image">
      </div>
    </div>
</div>
