<div *ngIf="showPage">
    <app-navbar [highlight]="'home'"></app-navbar>
    <div class="item-container">
        <div class="rating">
            <div *ngIf="showRateUs" class="alert alert-info" role="alert">
                Rate the app through this <a href="https://www.google.com" class="alert-link" target="_blank">link</a>
                <button type="button" class="btn btn-info" (click)="closeRateUs()">
                    <i class="bi bi-x"></i>
                </button>
            </div>
        </div>
        <div class="profilecenter">
            <app-profile class="aprofile"></app-profile>
            <app-dashboard class="dboard"></app-dashboard>
            <app-saved-money class="smoney"></app-saved-money>
        </div>
    </div>
</div>